html, body{
    height: 100%;
}
.bg {
    /* The image used */
    background-image: url("images/menu-background.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.top,
.bottom {
    position: fixed;
    left: 0;
    right: 0;
    height: 50%;
}
.top-buffer{
    margin-top: 150px;
}
.bottom-buffer{
    margin-top: 50px;
}

.menu-item{
    width: 75px;
    height: 75px;
    border: 1px solid black;
    background-color: white;
    text-align: center;
    line-height: 100px;
    margin-top:auto;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.back-arrow{
    width: 75px;
    height: 25px;
    border: 1px solid black;
    color: black;
    background-color: white;
    text-align: center;
    justify-items: center;
    display:block;
}
.small-text{
    font-size: small;
}

.full-width{
    width: 100%;
}
.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.hidden { display: none; }